
$clr1: #f6f9fe;
$clr2:#191d34;
$clr3: #072039;
$clr4: #ff656a;
$clr5: #fff;
$clr6:#607c8f;
$clr7: #0C3C60;
$clr8: #6FB9CB;
$clr9: #F7F9FA;
$clr10: #10bbb0;
$clr11: #FEF7ED;
$clr12: #3A54B4;
$clr13: #d5d391;

$main-clr1: #4eb7f5;
$main-clr2: #151f26;